/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
*  Copyright 2021 Adobe
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
**************************************************************************/

.sdk-HidingBranding-branding {
    background-color: white;
    border-radius: 6px;
    bottom: 20px;
    display: none;
    position: fixed;
    right: 20px;
    transition: 0.8s;
    z-index: 999999;
}

.sdk-HidingBranding-label {
    color: #4b4b4b !important;
    font-size: 12px !important;
    font-weight: normal;
    margin: 7px 7px 7px 1px;
}
