/*************************************************************************
 * ADOBE CONFIDENTIAL
 * ___________________
 *
 *  Copyright 2019 Adobe
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe and its suppliers, if any. The intellectual
 * and technical concepts contained herein are proprietary to Adobe
 * and its suppliers and are protected by all applicable intellectual
 * property laws, including trade secret and copyright laws.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe.
 **************************************************************************/

.sdk-CallToAction-popover {
    border-color: #cacaca !important;
    box-shadow: none;
    min-width: 180px !important;
    padding: 0 !important;
}

.sdk-CallToAction-sideMenuPopOver {
    margin-top: 3px !important;
    min-width: 180px;
}

.sdk-CallToAction-toolsPopover {
    left: auto !important;
    margin-top: -3px !important;
    min-width: 260px !important;
    right: 12px !important;
}

.sdk-CallToAction-toolsPopover .spectrum-Popover-tip {
    display: none;
}

.sdk-CallToAction-sideMenuButton {
    background-color: #f5f5f5 !important;
    border: none !important;
}
