.errorContainer {
    align-items: center;
    background-color: rgb(245, 245, 245);
    display: flex;
    height: calc(99.5% - var(--header-height));
    justify-content: center;
}

.errorMessage {
    color: #2c2c2c !important;
    font-size: 27px;
    font-weight: 700;
}
